.homepage-carousel {
    height: 35rem;
    text-align: center;
}

.carousel-item {
    height: 35rem;
    width: 100%;
    background-color: var(--shadow-color);
}

.carousel-item img {
    width: 100%;
}