.item-listing {
    // display: block;
    width: 25%;
}

.results {
  display: grid;
  column-gap: .25rem;
  row-gap: .25rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
  margin-top: 50px;
  justify-content: space-around;
  padding-left: 1rem;
}